{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "@": "./",
        "@client": "./client",
        "@components": "./client/components",
        "@config": "./server/config",
        "@controllers": "./server/controllers",
        "@middleware": "./server/middleware",
        "@models": "./server/models",
        "@pages": "./client/pages",
        "@routes": "./server/routes",
        "@store": "./client/store",
        "@validators": "./server/validators"
      }
    }],
    "transform-regenerator"
  ]
}
